.article-module {
  width: 260px;
  margin-right: 16px;
  flex-shrink: 0;
  overflow: hidden;
}

.article-filters {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-bottom: 1px solid var(--color-divider);
  background-color: var(--color-secondary-bg);
  height: 48px;
  line-height: 48px;
  box-sizing: border-box;
}

.article-sort-types {
  display: inline-flex;
  align-items: center;
}

.article-sort-types span {
  margin-left: 8px;
  color: var(--color-secondary-app);
  cursor: pointer;
}

.article-sort-types .active-sort-type {
  color: var(--color-brand);
}

.article-list {
  height: calc(100vh - 48px);
  overflow-y: auto;
}

.article-item {
  padding: 8px 12px;
  background-color: var(--color-secondary-bg);
}

.article-item:hover {
  background-color: var(--color-hover-bg);
}

.article-title {
  color: var(--color-brand);;
  font-weight: normal;
  font-size: 12px;
}

.article-detail {
  color: var(--color-thirdly);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.refresh-icon {
  cursor: pointer;
}

.refresh-icon:hover path {
  fill: var(--color-brand)
}